*{
    margin: 0;
    padding: 0;
}
h2{
    background-color: #081b31;
    color: white;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;   
    display: flex; 
    flex-direction: column;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    /* opacity: 0.5;   */
    background-color: #081b31;
}
#itemName{
    font-size: 1.9rem;
    margin-top: 1.5rem;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 10px;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 3rem;
    text-align: center;
}
#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
    padding:1rem;
}